<?xml version="1.0" encoding="UTF-8"?>
<head class="head">
    <title data-template="config:app-title">Curious Travellers editions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" data-template="config:app-meta"/>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/r-2.2.6/datatables.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.4/css/responsive.bootstrap4.min.css"/>
    <link href="../static/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/jpg" href="../static/img/favicon.ico"/>
    
    <!-- toc css -->
    <link rel="stylesheet" href="../static/css/bootstrap-toc.min.css"/>
    <link rel="stylesheet" href="../static/css/style.css"/>

    <link rel="stylesheet" type="text/css" href="../static/css/mn-accordion.min.css"/>
</head>