<?xml version="1.0" encoding="UTF-8"?>
<nav class="navbar navbar-expand-lg navbar-light bg-light navigation">
    <a class="navbar-brand" href="/">Curious Travellers editions</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"/>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/letters">Letters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tours">Tours</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/indices">Indices</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Resources
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    
                    <!-- <span class="navbar-text">- Essays</span>
                    <a class="dropdown-item" href="/new_look">A new look at the correspondence of Thomas Pennant and Richard Bull (1773–1798)</a>
                    -->
                    <a class="dropdown-item" href="https://curioustravellers.ac.uk/en/publications/" target="_blank">Publications <span class="oi oi-external-link"/>
                    </a>
                    <div class="dropdown-divider"/>
                    <a class="dropdown-item" href="/bibliography">Bibliography and abbreviations used in this edition</a>
                    <div class="dropdown-divider"/>
                    <span class="navbar-text">- Editorial policies</span>
                    <a class="dropdown-item" href="/letters_editorial_policy">Correspondence</a>
                    <a class="dropdown-item" href="/tours_editorial_policy">Tours</a>
                    
                </div>
                
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://curioustravellers.ac.uk/" target="_blank">Curious Travellers website <span class="oi oi-external-link"/>
                </a>
            </li>
        </ul>

        <form method="get" action="/ft_search.html" class="form-inline my-2 my-lg-0">
            <input name="searchexpr" class="form-control mr-sm-2" type="search" placeholder="Search all documents"/>
            
        </form>
    </div>
</nav>